<ion-header>
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/capa.jpg"></ion-img>
      <ion-card-header>
         <ion-card-title>Hotel Paraíso</ion-card-title>
         
      </ion-card-header>
      <ion-card-content>
        O Hotel Paraíso oferece piscina, academia, e acomodações com ar-condicionado e Wi-Fi gratuito. A propriedade está situada
         no centro da cidade de Bandeirantes. Para sua comodidade, está disponível estacionamento.
         privativo.<br><br>

         O hotel apresenta interiores modernos, e oferece quartos com cores aconchegantes e pinturas locais, além de TV a cabo, telefone e frigobar. <br><br>

        Você pode saborear um buffet de café-da-manhã, que inclui uma variedade de frutas frescas, pães e bolos.
        A propriedade também conta com lanches, serviço de quarto e comodidades para fazer churrasco.
      </ion-card-content>
    </ion-card>
    
      
    <ion-card>
      <ion-card-header>
        <ion-card-title>Principais Comodidades</ion-card-title>
      </ion-card-header>
  
      <ion-item>
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Rede Wi-Fi gratuita</ion-label>
      </ion-item>
    
      <ion-item href="http://www.restaurantekojo.com/" class="activated">
        <ion-icon name="restaurant" slot="start"></ion-icon>
        <ion-label>Restaurante Integrado</ion-label>
      </ion-item>
    
      <ion-item>
          <ion-icon name="fitness" slot="start"></ion-icon>
        <ion-label>Academia com Instrutor</ion-label>
      </ion-item>
    
      <ion-item class="activated">
        <ion-icon name="basketball" slot="start"></ion-icon>
        <ion-label>Quadra Poliesportiva</ion-label>
      </ion-item>
    </ion-card>
</ion-content>
